*.iml
.gradle
.env
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/.name
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/.idea/vcs.xml
build/
dist/